= airbrake_javascript_notifier
doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title= content_for?(:title) ? yield(:title) : "IntensityJobs"
    = csrf_meta_tags
    = stylesheet_link_tag "rails_admin/rails_admin.css", :media => :all
    = javascript_include_tag "rails_admin/rails_admin.js", 'twitter/bootstrap', "rails_admin/custom/ui"
  body.rails_admin
    #loading.label.label-warning style='display:none; position:fixed; right:20px; bottom:20px; z-index:100000'
      | Loading...
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.brand.pjax href=dashboard_path
            = _get_plugin_name[0] || 'Rails'
            small= _get_plugin_name[1] || 'Admin'
          .nav-collapse
            = render :partial => 'layouts/rails_admin/secondary_navigation'
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list= main_navigation
            ul.nav.nav-list= static_navigation
        .span9
          .row-fluid
            = content_tag :div, class: :content, 'data-pjax-container' => true do
              = render :template => 'layouts/rails_admin/pjax'
