*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Grid HTML Classes */
.grid-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1440px; /*Old > 1170px;*/
  *zoom: 1; }
  .grid-row:before, .grid-row:after {
    content: " ";
    display: table; }
  .grid-row:after {
    clear: both; }
  .grid-row .column,
  .grid-row .columns {
    position: relative;
    /*padding-left: 0.9375em;
    padding-right: 0.9375em;*/
    width: 100%;
    float: left; }
  .grid-row.collapse .column,
  .grid-row.collapse .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .grid-row .grid-row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .grid-row .grid-row:before, .grid-row .grid-row:after {
      content: " ";
      display: table; }
    .grid-row .grid-row:after {
      clear: both; }
    .grid-row .grid-row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .grid-row .grid-row.collapse:before, .grid-row .grid-row.collapse:after {
        content: " ";
        display: table; }
      .grid-row .grid-row.collapse:after {
        clear: both; }

@media only screen {
  .grid-row .column,
  .grid-row .columns {
    position: relative;
    /*padding-left: 0.9375em;
    padding-right: 0.9375em;*/
    float: left; }

  .grid-row .small-1 {
    position: relative;
    width: 8.33333%; }

  .grid-row .small-2 {
    position: relative;
    width: 16.66667%; }

  .grid-row .small-3 {
    position: relative;
    width: 25%; }

  .grid-row .small-4 {
    position: relative;
    width: 33.33333%; }

  .grid-row .small-5 {
    position: relative;
    width: 41.66667%; }

  .grid-row .small-6 {
    position: relative;
    width: 50%; }

  .grid-row .small-7 {
    position: relative;
    width: 58.33333%; }

  .grid-row .small-8 {
    position: relative;
    width: 66.66667%; }

  .grid-row .small-9 {
    position: relative;
    width: 75%; }

  .grid-row .small-10 {
    position: relative;
    width: 83.33333%; }

  .grid-row .small-11 {
    position: relative;
    width: 91.66667%; }

  .grid-row .small-12 {
    position: relative;
    width: 100%; }

  .grid-row .small-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .grid-row .small-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .grid-row .small-offset-3 {
    position: relative;
    margin-left: 25%; }

  .grid-row .small-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .grid-row .small-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .grid-row .small-offset-6 {
    position: relative;
    margin-left: 50%; }

  .grid-row .small-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .grid-row .small-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .grid-row .small-offset-9 {
    position: relative;
    margin-left: 75%; }

  .grid-row .small-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } 
}

/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 48em) {
  .grid-row .large-1 {
    position: relative;
    width: 8.33333%; }

  .grid-row .large-2 {
    position: relative;
    width: 16.66667%; }

  .grid-row .large-3 {
    position: relative;
    width: 25%; }

  .grid-row .large-4 {
    position: relative;
    width: 33.33333%; }

  .grid-row .large-5 {
    position: relative;
    width: 41.66667%; }

  .grid-row .large-6 {
    position: relative;
    width: 50%; }

  .grid-row .large-7 {
    position: relative;
    width: 58.33333%; }

  .grid-row .large-8 {
    position: relative;
    width: 66.66667%; }

  .grid-row .large-9 {
    position: relative;
    width: 75%; }

  .grid-row .large-10 {
    position: relative;
    width: 83.33333%; }

  .grid-row .large-11 {
    position: relative;
    width: 91.66667%; }

  .grid-row .large-12 {
    position: relative;
    width: 100%; }

  .grid-row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%; }

  .grid-row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%; }

  .grid-row .large-offset-3 {
    position: relative;
    margin-left: 25%; }

  .grid-row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%; }

  .grid-row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%; }

  .grid-row .large-offset-6 {
    position: relative;
    margin-left: 50%; }

  .grid-row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%; }

  .grid-row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%; }

  .grid-row .large-offset-9 {
    position: relative;
    margin-left: 75%; }

  .grid-row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .small-push-2 {
    left: inherit; }

  .small-pull-2 {
    right: inherit; }

  .small-push-3 {
    left: inherit; }

  .small-pull-3 {
    right: inherit; }

  .small-push-4 {
    left: inherit; }

  .small-pull-4 {
    right: inherit; }

  .small-push-5 {
    left: inherit; }

  .small-pull-5 {
    right: inherit; }

  .small-push-6 {
    left: inherit; }

  .small-pull-6 {
    right: inherit; }

  .small-push-7 {
    left: inherit; }

  .small-pull-7 {
    right: inherit; }

  .small-push-8 {
    left: inherit; }

  .small-pull-8 {
    right: inherit; }

  .small-push-9 {
    left: inherit; }

  .small-pull-9 {
    right: inherit; }

  .small-push-10 {
    left: inherit; }

  .small-pull-10 {
    right: inherit; }

  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; } 
}

/* Foundation Block Grids for below small breakpoint */
@media only screen {
  [class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -10px;
    *zoom: 1; }
    [class*="block-grid-"]:before, [class*="block-grid-"]:after {
      content: " ";
      display: table; }
    [class*="block-grid-"]:after {
      clear: both; }
    [class*="block-grid-"] > li {
      display: block;
      height: auto;
      float: left;
      padding: 0 10px 10px; }

  .small-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .small-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .small-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .small-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .small-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .small-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .small-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .small-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .small-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .small-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .small-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .small-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } 
}

/* Foundation Block Grids for above small breakpoint */
@media only screen and (min-width: 48em) {
  .large-block-grid-1 > li {
    width: 100%;
    padding: 0 10px 10px; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .large-block-grid-2 > li {
    width: 50%;
    padding: 0 10px 10px; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .large-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 10px 10px; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .large-block-grid-4 > li {
    width: 25%;
    padding: 0 10px 10px; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .large-block-grid-5 > li {
    width: 20%;
    padding: 0 10px 10px; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .large-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 10px 10px; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .large-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 10px 10px; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .large-block-grid-8 > li {
    width: 12.5%;
    padding: 0 10px 10px; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .large-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 10px 10px; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .large-block-grid-10 > li {
    width: 10%;
    padding: 0 10px 10px; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .large-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 10px 10px; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .large-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 10px 10px; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }

  [class*="small-block-grid-"] > li {
    clear: none !important; } 
}
