.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
	width:100%;
}

.navbar-inner {
	background:none;
	background-color:#2aa4cf;
	border:none;
}

.navbar .brand {
  color: #fff;
  text-shadow: 0 1px 0 #000;
  background-image:url(../images/intensity-jobs-logo.png);
  width:192px;
  height:30px;
  text-indent:-999em;
  margin-right:6px;
  margin-left:20px;
  margin-top:4px;
}

.navbar .nav > li > a {
  color: #fff;
  text-shadow: 0 1px 0 #666;
  font-size:12px;
  font-weight:bold;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #eee;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #2287ab;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

@media (max-width: 979px){
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
}