body {
    background-color: #eee;
    margin-bottom: 50px;
}

a, a:hover {
    text-decoration: none;
}

[role="main"] {
    margin-top: 40px;
}

.job-category {
    background-color: #fff;
    -webkit-box-shadow: 1px 0px 7px 1px rgba(0, 0, 0, .2);
    box-shadow: 1px 0px 7px 1px rgba(0, 0, 0, .2);
}

    .job-category h5 {
        background-color: #fff;
        -webkit-box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, .2);
        box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, .2);
        line-height: 40px;
        padding: 0 20px;
        margin: 0 0 5px;
    }

.job-category-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .job-category-list li {
        border-bottom: solid 1px #ddd;
    }

        .job-category-list li a {
            display: block;
            padding: 0 20px;
            line-height: 36px;
            text-decoration: none;
        }

            .job-category-list li a:hover {
                background-color: #f7f7f7;
            }

.job-listing {
    margin: 15px;
    border: solid 1px #ccc;
    background-color: #fff;
}

.title {
    background-color: #7fc04c;
    -webkit-box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, .2);
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, .2);
    padding: 0 20px;
    color: #FFF;
}

    .title h5 {
        color: #FFF;
        line-height: 40px;
        margin: 0;
    }

.job-list {
    padding: 12px 20px;
    border-bottom: solid 1px #CCC;
}

    .job-list.int:hover {
        background-color: #fff;
    }

    .job-list:hover {
        background-color: #f7f7f7;
    }

    .job-list h4 {
        font-weight: normal;
        margin: 0;
    }

        .job-list h4 a {
            text-decoration: none;
        }

    .job-list p {
        font-size: 13px;
        margin: 0;
    }

    .job-list .details {
        font-size: 13px;
        margin: 0;
    }

.job-detail {
    font-size: 12px;
    color: #888;
}

.job-list .category {
    margin: 10px 0;
}

    .job-list .category h3 {
        color: #0088cc;
        font-size: 15px;
        border-bottom: 1px solid #dadada;
        padding: 0px;
        margin: 0;
    }

    .job-list .category ul {
        margin: 10px 0;
        padding: 0;
        list-style: none;
    }

        .job-list .category ul li {
            display: inline-block;
            background: #eee;
            padding: 3px 10px;
            margin: 2px;
            border-radius: 4px;
            font-size: 11px;
        }

            .job-list .category ul li a {
            }

                .job-list .category ul li a:hover {
                }
.sub-title {
}
    .sub-title h6 {
    margin: 36px 20px;
    margin-bottom: 0;
    font-size: 20px;
    color: #999;
}
.job-apply {
    overflow: hidden;
    margin: 10px 0;
    position: relative;
}
.job-apply .share {
    float: right;
    position: absolute;
    top: 14px;
    right: 0;
}

.link-none {
    color: #000;
}

footer[role=site-footer] {
    position: fixed;
    bottom: 0;
    z-index: 1030;
    left: 0;
    width: 100%;
    background: #fff url(/assets/footer-gradient.gif) right bottom repeat-x;
    box-shadow: 0px 1px 54px -9px #000, 1px 1px 1px rgba(0, 0, 0, 0.18) inset;
    border-top: 1px solid #FFFFFF;
}

    footer[role=site-footer] .container {
        position: relative;
    }

.footernav {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .footernav li {
        display: inline-block;
    }

        .footernav li a {
            display: inline-block;
            padding: 10px 5px;
            font-size: 12px;
        }

        .footernav li :active:hover {
        }

.social {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 6px;
}

    .social li {
        display: inline-block;
        vertical-align: text-top;
    }

        .social li span {
            color: #2aa4cf;
            font-size: 12px;
            margin: 3px 5px;
            display: inline-block;
        }

        .social li a {
            display: inline-block;
            width: 24px;
            height: 24px;
            overflow: hidden;
            text-indent: 1000px;
            opacity: 0.3;
        }

        .social li.facebook-panel a {
            background: url(/assets/facebook.png);
        }

        .social li.googleplus-panel a {
            background: url(/assets/googleplus.png);
        }

        .social li a:hover {
            background-position: 0px -24px;
            opacity: 1;
        }.wysiwyg {
width: 80%;
min-height: 110px;
}

@media (min-width: 768px) and (max-width: 979px) {
    [role="main"] {
        margin-top: 0px;
    }
}

@media (max-width: 767px) {
    [role="main"] {
        margin-top: 20px;
    }

    .social {
        position: static;
        text-align: center;
    }

    .footernav {
        text-align: center;
    }

        .footernav li a {
        }
}
