.job-list
  div.pull-right.share_job
    ul.link-none.no-btn.social-likes_single data-url=job_url(job) data-single-title="Share"
  	  li.facebook title="Share job on Facebook" Facebook
  	  li.twitter data-related="intensityjobs" title="Share job on Twitter" Twitter
  	  li.plusone title="Share job on Google+" Google+
  /a.pull-right.link-none href="#"
  /  i.icon-star
  /  | Add to shortlist
  h4
    = link_to job.title, job_path(job)
  .job-detail Salary: £25,000 to £30,000 |  Date Posted: #{job.published_date}
  .clearfix
  p= job.short_des
  - if show_ad_in_jobs?
    .ad= render 'shared/chitnka_ad'