section role="main"
  .grid-row
    = render 'shared/job_categories'
    .large-9.columns
      .job-listing-wrap
        .title
          h5
            span.left Recent Jobs
            span.right= auto_discovery_link_tag(:atom, feed_jobs_url(format: 'atom'))
        .job-listing.jobs
          .well.pagination-large.pagination-centered
            = paginate @jobs, theme: 'twitter-bootstrap'
            = page_entries_info @jobs
          = render partial: 'job', collection: @jobs, as: :job
          = spaghetti_2 'jobs', jobs_path, starting_page: @jobs.current_page + 1 unless @jobs.last_page?
