- content_for :title do
 = @job.title

section role="main"
  .grid-row
    = render 'shared/job_categories'
    .large-9.columns
      .job-listing-wrap
        .title
          h5
            span.left= @job.title
        .job-listing
          .jo-list= raw @job.description

      = link_to "Apply", apply_job_path(@job), target: '_blank', rel: 'nofollow', class: 'btn btn-success btn-ok'
