= form_for @contact_u do |f|
  - if @contact_u.errors.any?
    #error_explanation
      h2 = "#{pluralize(@contact_u.errors.count, "error")} prohibited this contact_u from being saved:"
      ul
        - @contact_u.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :body
    = f.text_field :body
  .actions = f.submit 'Save'
