p#notice = notice

p
  strong Name:
  = @contact_u.name
p
  strong Email:
  = @contact_u.email
p
  strong Body:
  = @contact_u.body

= link_to 'Edit', edit_contact_u_path(@contact_u)
'|
= link_to 'Back', contact_us_path
