<!--  term and condition page, faq page, about us page -->
<footer role="site-footer">
  <div class="container">
    <ul class="footernav">
      <li><a href="#">Home</a></li>
      <li><a href="#">How dose it Works</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Faq</a></li>
      <li><a href="#">About us</a></li>

    </ul>

    <ul class="social">
      <li class="social-header"><span> Vist us : </span></li>
      <li class="facebook-panel"><a href="https://www.facebook.com/IntensityJob" target="_blank">facebook</a></li>
      <li class="googleplus-panel"><a href="https://plus.google.com/u/0/b/111354903294540833142/111354903294540833142" target="_blank">googleplus</a></li>
    </ul>
  </div>
</footer>

