link href="assets/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144"
link href="assets/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114"
link href="assets/ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72"
link href="assets/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed"
link href="assets/ico/favicon.png" rel="shortcut icon"
