.large-3.columns.job-category-wrapper
  .job-category
    h5 Filter jobs by category.
    ul.job-category-list
      - JobCategory.root_categories.each do |cat|
        li class=class_for_category(cat)
          = link_to cat.name, job_category_jobs_path(job_category_id: cat)
