header role="top-header"
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        /! .btn-navbar is used as the toggle for collapsed navbar content
        a.btn.btn-navbar data-target=".nav-collapse" data-toggle="collapse"
          span.icon-bar
          span.icon-bar
          span.icon-bar
        /! Be sure to leave the brand out there if you want it shown
        = link_to 'Intensity Jobs', root_path, class: 'brand'
        /! Everything you want hidden at 940px or less, place within here
        .nav-collapse.collapse
          ul.nav
            li
              = link_to 'BROWSER JOBS', jobs_path
            li
              a href="#"
          ul.nav.pull-right
            li
              a href="#" CAREER ADVICE
            li
              a href="#" POST NEW JOB
