meta charset="utf-8"
meta content="width=device-width, initial-scale=1.0" name="viewport"
meta content="IntensityJobs" name="author"
meta name="revisit-after" content="1 days"
meta name="ROBOTS" content="INDEX, FOLLOW"
meta name="description" content=page_meta_description
meta name="Keywords" content=page_meta_keywords

// alexa site verification code
meta name="alexaVerifyID" content="eEX6waT1JrNnhdnO4if9VhqOirA"
// bing verification code
meta name="msvalidate.01" content="379D48E60E81BD7556DB75DE8AA29A38"

// facebooks' tags
meta property="og:type" content="website"
meta property="og:description" content=page_meta_description
meta property="og:title" content=page_meta_title
meta property="og:url" content=page_meta_url

//twitter's tags
meta name="twitter:card" content=page_meta_description
meta name="twitter:title" content=page_meta_title
meta name="twitter:url" content=page_meta_url
meta name="twitter:description" content=page_meta_description

// google + tags
meta itemprop="name" content=page_meta_title
meta itemprop="description" content=page_meta_description
meta itemprop="image" content=""
meta name="google-site-verification" content="R_fUnFzbqbuz7OV9yLnYv8MGpiixsOT5GDaLsrCrCmY"
= yield :page_meta if content_for?(:page_meta)
= auto_discovery_link_tag(:atom, feed_jobs_url(format: 'atom'))
