javascript:
  $("#social-tabs").dcSocialTabs({
    widgets: "twitter,facebook,fblike,fbrec,google,linkedin,rss",
    rssId: "http://feeds.feedburner.com/intensityjobs",
    twitterId: "#{AppConfig.get 'twitter.handler' }",
    facebookId: "#{AppConfig.get 'facebook.app_id' }",
    fblikeId: "#{AppConfig.get 'facebook.app_id' }",
    fbrecId: "http://www.intensityjobs.com",
    googleId: "#{AppConfig.get 'google_plus.app_id'}",
    linkedinId: 'http://www.linkedin.com/company/intensityjobs',
    location: 'bottom',
    align: 'bottom',
    offset: 30,
    width: 340,
    autoClose: true,
    start: 0})