h2 job parser is end, please review

p= @feed_job.parsed_job_message
p= link_to "click to review", "www.intensityjobs.com/leads/job_parser_feed/#{@feed_job.id}"
h3 new jobs
= @feed_job.new_job_ids.join ", "
h3 duplicate jobs
= @feed_job.duplicate_job_ids.join ", "

