.node {
  color: #ff0000;
}

.hasIndentContent {
  span.node {
    padding-left: 10px;
  }
  .indentContnet {
    padding-left: 20px;
  }

}

.string_node {
  .node_key {
    display: inline;
  }
  .string_value {
    padding-left: 10px;
    display: inline;
  }
  .close {
    margin-right: 10px;
  }
}

.example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.example::after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px
}

.corner_text {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #9da0a4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px
}

.example_feed_config::after {
  content: "Feed Configuration";
}

#raw_feed::after {
  content: "Incoming Feed";
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

code, pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre.prettyprint {
  margin-bottom: 20px;
}

ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

.example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

/*http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css*/
.com {
  color: #93a1a1;
}

.lit {
  color: #195f91;
}

.pun, .opn, .clo {
  color: #93a1a1;
}

.fun {
  color: #dc322f;
}

.str, .atv {
  color: #D14;
}

.kwd, .prettyprint .tag {
  color: #1e347b;
}

.typ, .atn, .dec, .var {
  color: teal;
}

.pln {
  color: #48484c;
}

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
  #feed_mapping{
    #job_node_config{
      margin: 0 0 20px 47px;
      label{
        width: auto;
      }
    }
    #feed_column_config{
      #header{
        margin: 0 0 10px 33px;
        font-weight: bold;
        border-bottom: 1px #e1e1e8 solid;

        span:first-child{
          float: left;
          width: 175px;
          margin-left: 10px;
        }
      }
      /* Specify class=linenums on a pre to get line numbering */
      ol.linenums {
        margin: 0 0 0 33px; /* IE indents via margin-left */

        li {
          padding-left: 12px;
          color: #bebec5;
          line-height: 20px;
          text-shadow: 0 1px 0 #fff;

          span{
            float: left;
          }

          span:first-child{
            width: 150px;
            color: #FF5001;
          }

          span.matched_node{
            color: #1438AD;
            width: 100px;
          }

          label.control-label{
            color: #FF5001;
            text-align: left;
          }

          div.controls{
            display: inline;
            margin-left: 15px;
          }

          .control-group{
            margin-bottom: 10px;
            width: 38%;
            display: inline-block;
          }

          a.delete{
            margin-left: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }

#save_configuration{
  margin: 10px;
}

#incoming_feed_configuration{
  input#feed_schema_feed_url{
    width: 40%;
    margin-right: 10px;
  }
}

.popover-content{
  text-align: center;
}

#available_url span{
  margin-left: 10px;
  background-color: #fbeed5;
  cursor: pointer;
}
