.well#list
  h2 Feed url for #{@object.name} schema
  = form_for url_for, html: { method: :put, class: 'form', id: 'bulk_form' } do |f|
    input id="bulk_action" name="bulk_action" type="hidden"
    table.table.table-striped.table-condensed
        thead
          tr
            th.shrink
              input.toggle type="checkbox"
            th.header Id
            th.header Url
            th.header Active
            th.header Parsed feeds
            th.header Parsed Jobs
            th.header Processing Feed
            th.header Last run at
            th.header Ran today?
        tbody
          - @object.feed_urls.each do |feed_url|
            tr
              td
                input id="bulk_ids_" name="bulk_ids[]" type="checkbox" value=feed_url.id checked="checked"
              td= feed_url.id
              td= feed_url.url
              td
                - if feed_url.active?
                  span.badge.badge-success ✓
                - else
                  span.badge.badge-important ✘
              td= feed_url.feed_parsed_count
              td= feed_url.jobs_parsed_count
              td
                - if feed_url.processing_feed?
                  span.badge.badge-success ✓
                - else
                  span.badge.badge-important ✘
              td= feed_url.last_run_at
              td
                - if feed_url.ran_today?
                  span.badge.badge-success ✓
                - else
                  span.badge.badge-important ✘
    = f.submit "Process selected Feed Url", disable_with: 'Please wait..'
- if @parser_feeds.present?

  h2 Parser result
  .parser_result
    - @parser_feeds.each do |parser|
      .well
        h3 Parser# #{parser.id}
        .parser_url URL#{parser.feed_url.url}

        h3 New Jobs
        - parser.new_job_ids.each do |job_id|
          - if job = Job.find_by_id(job_id)
            = link_to "Job #{job.id}", main_app.job_path(job)
        h3 Duplicated Jobs
        - parser.duplicate_job_ids.each do |job_id|
          - if job = Job.find_by_id(job_id)
            = link_to "Job #{job.id}", main_app.job_path(job)
        h3 Notifications
        - parser.job_parser_notifications.each do |notification|
          .notification= notification.message