#feed_mapping
  .example.example_feed_config.well
    div#available_url
      div Active Urls
      #active_urls= @object.decorate.active_url_list
    = simple_form_for @object, url: main_app.fetch_sample_feed_schema_path(@object), remote: true, html: { method: 'GET', id: "incoming_feed_configuration", class: 'form-search form-inline'} do |f|
      = f.input_field :feed_url, placeholder: 'Feed URL', class: 'input-medium search-query', title: "Enter feed url for #{@object.name}"
      = f.input :feed_url_id, as: :hidden
      = f.submit "Fetch Sample feed", disable_with: "Fetching...", class: 'btn'
  pre.prettyprint.linenums
    = simple_form_for @object, url: feed_mapping_path,html: { class: 'form-horizontal' } do |f|
      div#job_node_config
        div.input-prepend
          span.add-on
            label for="feed_schema_job_node" Job Node
          = f.input_field :job_node
        = f.input :job_node_wrapped_in_array, label: "Job wrapped in Array?"

      div#feed_column_config
        #header
          span Job's column
          span Feed Node
        ol.linenums
          - Job.feed_attributes.each do |attr|
            li
              = f.input FeedSchema.accessor_for(attr), as: :string, label: attr.humanize, input_html: { size: 15, class: 'matched_node' },  wrapper_html: false
              a.delete job_attr=attr title="delete matched node"
                i.icon-trash.icon-white
        = f.submit "Save Configuration", class: 'btn', disable_with: "Please wait..."

  .example.well
    ul.nav.nav-tabs#feed_tabs
      li.active
        a href="#feed_nodes" Feed Nodes
      li
        a href="#json_feed" Parseable Json
      li
        a href="#raw_feed" Raw feed
    .tab-content
      #feed_nodes.tab-pane.active
      #json_feed.tab-pane
        pre
      #raw_feed.tab-pane
        pre

javascript:
  IntensityJobs.FeedSchema.job_attributes = #{raw Job.feed_attributes.to_json.html_safe}
  IntensityJobs.FeedSchema.init()
