= form_tag marked_as_approved_path(params.merge(:all => true)), :method => 'post', :class => 'form-horizontal denser' do |f|
  - @objects.each do |job|
    .well id=dom_id(job)
      = label_tag :identifier
      span= job.identifier

      = label_tag :url
      span= job.url

      = label_tag :title
      div= job.title.html_safe

      = label_tag :description
      div= job.description.html_safe


  .form-actions
    = submit_tag "Approve Selected jobs"