#app_stats
  .example.example_feed_config.well
    h3 Share count
    - count_hash = @counter.count
    - count_hash.keys.each do |key|
      div
        span.label= key
        span= count_hash[key]

#fb_connect
  h3= link_to "Connect to Facebook", main_app.admin_omniauth_authorize_path(:facebook)  unless current_admin.fb_setup?