/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require theme/core
 *= require theme/core-responsive
 *= require theme/grid
 *= require theme/override
 *= require theme/theme
 *= require spaghetti
 *= require social-likes
 *= require dcsmt
 *= require home
 */

div.apply {
    padding: 20px 20px 15px 20px;
    overflow: hidden;
    color: #000;
    margin: 20px 15px 15px 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #efebe3;
}
