// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notice.registration-bar {
  margin: 0 auto -59px;
  padding: 8px 0px 70px 0px;
  width: 1352px;
}

.notice.fixed-bottom {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
  border-radius: 0 0 0 0;
  bottom: 0;
  color: #CCCCCC;
  left: 0;
  margin: 0;
  position: fixed;
  top: auto;
  width: 100%;
  z-index: 999;
}