= airbrake_javascript_notifier
doctype html
html lang="en"
  head
    = render 'shared/site_meta'
    = render 'shared/head'
    title= content_for?(:title) ? yield(:title) : "IntensityJobs: Listing on online jobs"
    = csrf_meta_tags
    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application"

  body
    = render 'shared/page_header'
    / ad_slot_tag '6450075715'

    = yield
    .hidden.seo_sites
      = cache "SEO_LINKS" do
        - SiteContent.visible.each do |s|
          = s.content.html_safe
    = render 'shared/footer'
    = javascript_include_tag "application"


